# Exercises

In [1]:

import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd
import acquire as a


#import
import warnings
warnings.filterwarnings("ignore")

__________

### The end result of this exercise should be a file named prepare.py that defines the requested functions.

### In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

_____________

## acquire data

In [60]:
url_list = ['https://codeup.com/codeups-data-science-career-accelerator-is-here', 'https://codeup.com/data-science-myths',
            'https://codeup.com/data-science-vs-data-analytics-whats-the-difference',
            'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair',
            'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger']

df =  a.get_glob_articles(url_list)

In [61]:
df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

#### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

**- Lowercase everything**

In [4]:
#solve for one column
df.title.str.lower()

0    codeup’s data science career accelerator is here!
1                                   data science myths
2    data science vs data analytics: what’s the dif...
3          10 tips to crush it at the sa tech job fair
4    competitor bootcamps are closing. is the model...
Name: title, dtype: object

In [5]:
#get each colum
df2=pd.DataFrame()
for column in df.columns:
    df2[column]= df[column].str.lower()

In [6]:
df2

,title,content,published_date
0,codeup’s data science career accelerator is here!,the rumors are true! the time has arrived. cod...,"september 30, 2018"
1,data science myths,by dimitri antoniou and maggie giustdata scien...,"october 31, 2018"
2,data science vs data analytics: what’s the dif...,"by dimitri antonioua week ago, codeuplaunched ...","october 17, 2018"
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third bi-annualsan antonio...,"august 14, 2018"
4,competitor bootcamps are closing. is the model...,competitor bootcamps are closing. is the model...,"august 14, 2018"

**Normalize unicode characters**

In [7]:
#keep in mind normalize() argument 2 must be str
#unicodedata.normalize('NFKC', df2.title)

In [8]:
#we need to get each column
#then each observation

In [9]:
l =[df2.title[n] for n in range (0, len(df2))]

In [10]:
l

['codeup’s data science career accelerator is here!',
 'data science myths',
 'data science vs data analytics: what’s the difference?',
 '10 tips to crush it at the sa tech job fair',
 'competitor bootcamps are closing. is the model in danger?']

In [11]:
for column in df2.columns:
    l =[unicodedata.normalize('NFKC',df2[column][n]) for n in range (0, len(df2))]
    df2[column]= l

In [12]:
df2

,title,content,published_date
0,codeup’s data science career accelerator is here!,the rumors are true! the time has arrived. cod...,"september 30, 2018"
1,data science myths,by dimitri antoniou and maggie giustdata scien...,"october 31, 2018"
2,data science vs data analytics: what’s the dif...,"by dimitri antonioua week ago, codeuplaunched ...","october 17, 2018"
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third bi-annualsan antonio...,"august 14, 2018"
4,competitor bootcamps are closing. is the model...,competitor bootcamps are closing. is the model...,"august 14, 2018"

**Removing Special Characters**

In [13]:
#we need to do it by stringso we can use a comprehension list to do the rows
for column in df2.columns:
    df2[column]= [re.sub(r"[^a-z0-9'\s]", '', df2[column][n] ) for n in range (0, len(df2))]

In [14]:
df2

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

In [15]:
# create a function
def clean_df(df):
    '''
    takes in a df and lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean df
    '''
    for column in df.columns:
        #get lowercase
        df[column]= df[column].str.lower()
        #normalize
        df[column]= [unicodedata.normalize('NFKC',df[column][n])\
                     .encode('ascii', 'ignore')\
                    .decode('utf-8') for n in range (0, len(df))]
        #remove special characters
        df[column]= [re.sub(r"[^a-z0-9'\s]", '', df[column][n] ) for n in range (0, len(df))]
    return df

In [16]:
def basic_clean (string):
    '''
    takes in a string and lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean string
    '''
    
    string = string.lower()
    string = unicodedata.normalize('NFKC',string)\
    .encode('ascii', 'ignore')\
    .decode('utf-8')
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    return string

In [62]:
basic_clean(df.content[0])

'the rumors are true the time has arrived codeup has officially opened applications to our new data science career accelerator with only 25 seats available this immersive program is one of a kind in san antonio and will help you land a job inglassdoors 1 best job in americadata science is a method of providing actionable intelligence from datathe data revolution has hit san antonioresulting in an explosion in data scientist positionsacross companies like usaa accenture booz allen hamilton and heb weve even seenutsa invest 70 m for a cybersecurity center and school of data sciencewe built a program to specifically meet the growing demands of this industryour program will be 18 weeks long fulltime handson and projectbased our curriculum development and instruction is led by senior data scientist maggie giust who has worked at heb capital group and rackspace along with input from dozens of practitioners and hiring partners students will work with real data sets realistic problems and the entire data science pipeline from collection to deployment they will receive professional development training in resume writing interviewing and continuing education to prepare for a smooth transition to the workforcewe focus on applied data science for immediate impact and roi in a business which is how we can back it all up with a 6 month tuition refund guarantee  just like our existing web dev program were focusing on data science with python sql and ml covered in14 modules 1 fundamentals 2 applied statistics 3 sql 4 python 5 supervised machine learning  regression 6 supervised machine learning  classification 7 unsupervised machine learning  clustering 8 time series analysis 9 anomaly detection 10 natural language processing 11 distributed machine learning 12 advanced topics deep learning nosql cloud deployment etc 13 storytelling with data and 14 domain expertise developmentapplications are now openfor codeups first data science cohort which will start class on february 4 2019 hurry  there are only 25 seats available to further our mission of cultivating inclusive growth scholarships will be available to women minorities lgbtqia individuals veterans first responders and people relocating to san antonioif you want to learn aboutjoining our programorhiring our graduates email datasciencecodeupcom'

In [18]:
def basic_clean_df (df):
    '''
    takes in a df and using the function basic_clean lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean df
    '''
    for column in df.columns:
        df[column]= [basic_clean(df[column][string]) for string in range(0, len(df))]
    return df

In [19]:
#aquire again data
df =  a.get_glob_articles(url_list)

In [20]:
df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

In [21]:
df2 = basic_clean_df(df)

In [22]:
df2

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

In [23]:
df3 = clean_df(df)

In [24]:
df3

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string

In [63]:
#get a string
string = df.content[0]

In [64]:
#clean the string
string = basic_clean(string)

In [65]:
string

'the rumors are true the time has arrived codeup has officially opened applications to our new data science career accelerator with only 25 seats available this immersive program is one of a kind in san antonio and will help you land a job inglassdoors 1 best job in americadata science is a method of providing actionable intelligence from datathe data revolution has hit san antonioresulting in an explosion in data scientist positionsacross companies like usaa accenture booz allen hamilton and heb weve even seenutsa invest 70 m for a cybersecurity center and school of data sciencewe built a program to specifically meet the growing demands of this industryour program will be 18 weeks long fulltime handson and projectbased our curriculum development and instruction is led by senior data scientist maggie giust who has worked at heb capital group and rackspace along with input from dozens of practitioners and hiring partners students will work with real data sets realistic problems and the entire data science pipeline from collection to deployment they will receive professional development training in resume writing interviewing and continuing education to prepare for a smooth transition to the workforcewe focus on applied data science for immediate impact and roi in a business which is how we can back it all up with a 6 month tuition refund guarantee  just like our existing web dev program were focusing on data science with python sql and ml covered in14 modules 1 fundamentals 2 applied statistics 3 sql 4 python 5 supervised machine learning  regression 6 supervised machine learning  classification 7 unsupervised machine learning  clustering 8 time series analysis 9 anomaly detection 10 natural language processing 11 distributed machine learning 12 advanced topics deep learning nosql cloud deployment etc 13 storytelling with data and 14 domain expertise developmentapplications are now openfor codeups first data science cohort which will start class on february 4 2019 hurry  there are only 25 seats available to further our mission of cultivating inclusive growth scholarships will be available to women minorities lgbtqia individuals veterans first responders and people relocating to san antonioif you want to learn aboutjoining our programorhiring our graduates email datasciencecodeupcom'

In [66]:
def tokenize (string):
    '''
    take in a string and tokenize all the words in the string
    '''
    
    # Create the tokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    # Use the tokenizer
    string = tokenizer.tokenize(string, return_str = True)
    return string

In [67]:
tokenize(string)

'the rumors are true the time has arrived codeup has officially opened applications to our new data science career accelerator with only 25 seats available this immersive program is one of a kind in san antonio and will help you land a job inglassdoors 1 best job in americadata science is a method of providing actionable intelligence from datathe data revolution has hit san antonioresulting in an explosion in data scientist positionsacross companies like usaa accenture booz allen hamilton and heb weve even seenutsa invest 70 m for a cybersecurity center and school of data sciencewe built a program to specifically meet the growing demands of this industryour program will be 18 weeks long fulltime handson and projectbased our curriculum development and instruction is led by senior data scientist maggie giust who has worked at heb capital group and rackspace along with input from dozens of practitioners and hiring partners students will work with real data sets realistic problems and the entire data science pipeline from collection to deployment they will receive professional development training in resume writing interviewing and continuing education to prepare for a smooth transition to the workforcewe focus on applied data science for immediate impact and roi in a business which is how we can back it all up with a 6 month tuition refund guarantee just like our existing web dev program were focusing on data science with python sql and ml covered in14 modules 1 fundamentals 2 applied statistics 3 sql 4 python 5 supervised machine learning regression 6 supervised machine learning classification 7 unsupervised machine learning clustering 8 time series analysis 9 anomaly detection 10 natural language processing 11 distributed machine learning 12 advanced topics deep learning nosql cloud deployment etc 13 storytelling with data and 14 domain expertise developmentapplications are now openfor codeups first data science cohort which will start class on february 4 2019 hurry there are only 25 seats available to further our mission of cultivating inclusive growth scholarships will be available to women minorities lgbtqia individuals veterans first responders and people relocating to san antonioif you want to learn aboutjoining our programorhiring our graduates email datasciencecodeupcom'

### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [30]:
string

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [31]:
# Create porter stemmer.
ps = nltk.porter.PorterStemmer()

# Apply the stemmer to each word in our string.
stems = [ps.stem(word) for word in string.split()]
stems[:10]

['paul',
 'erdo',
 'and',
 'georg',
 'polya',
 'are',
 'influenti',
 'hungarian',
 'mathematician',
 'who']

In [32]:
# Join our lists of words into a string again; assign to a variable to save changes

article_stemmed = ' '.join(stems)
article_stemmed

"paul erdo and georg polya are influenti hungarian mathematician who contribut a lot to the field erdo ' s name contain the hungarian letter ' o ' ' o ' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

In [33]:
def stem (string):
    '''
     takes in a text and return the text after applying stemming to all the words.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    # Apply the stemmer to each word in our string.
    stems = [ps.stem(word) for word in string.split()]
    text_stemmed = ' '.join(stems)
    return text_stemmed

In [68]:
stem(string)

'the rumor are true the time ha arriv codeup ha offici open applic to our new data scienc career acceler with onli 25 seat avail thi immers program is one of a kind in san antonio and will help you land a job inglassdoor 1 best job in americadata scienc is a method of provid action intellig from datath data revolut ha hit san antonioresult in an explos in data scientist positionsacross compani like usaa accentur booz allen hamilton and heb weve even seenutsa invest 70 m for a cybersecur center and school of data sciencew built a program to specif meet the grow demand of thi industryour program will be 18 week long fulltim handson and projectbas our curriculum develop and instruct is led by senior data scientist maggi giust who ha work at heb capit group and rackspac along with input from dozen of practition and hire partner student will work with real data set realist problem and the entir data scienc pipelin from collect to deploy they will receiv profession develop train in resum write interview and continu educ to prepar for a smooth transit to the workforcew focu on appli data scienc for immedi impact and roi in a busi which is how we can back it all up with a 6 month tuition refund guarante just like our exist web dev program were focus on data scienc with python sql and ml cover in14 modul 1 fundament 2 appli statist 3 sql 4 python 5 supervis machin learn regress 6 supervis machin learn classif 7 unsupervis machin learn cluster 8 time seri analysi 9 anomali detect 10 natur languag process 11 distribut machin learn 12 advanc topic deep learn nosql cloud deploy etc 13 storytel with data and 14 domain expertis developmentappl are now openfor codeup first data scienc cohort which will start class on februari 4 2019 hurri there are onli 25 seat avail to further our mission of cultiv inclus growth scholarship will be avail to women minor lgbtqia individu veteran first respond and peopl reloc to san antonioif you want to learn aboutjoin our programorhir our graduat email datasciencecodeupcom'

### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [35]:
# # Create the Lemmatizer.

# wnl = nltk.stem.WordNetLemmatizer()


# # Use the lemmatizer on each word in the list of words we created by using split.

# lemmas = [wnl.lemmatize(word) for word in article.split()]

In [36]:
def lemmatize (text):
    '''
     Takes in some text and return the text after applying lemmatization to each word.
    '''ds
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in text.split()]
    
    # Join our list of words into a string again; assign to a variable to save changes.
    text_lemmatized = ' '.join(lemmas)
    
    return text_lemmatized

In [69]:
lem_text =lemmatize(string)

In [70]:
lem_text

'the rumor are true the time ha arrived codeup ha officially opened application to our new data science career accelerator with only 25 seat available this immersive program is one of a kind in san antonio and will help you land a job inglassdoors 1 best job in americadata science is a method of providing actionable intelligence from datathe data revolution ha hit san antonioresulting in an explosion in data scientist positionsacross company like usaa accenture booz allen hamilton and heb weve even seenutsa invest 70 m for a cybersecurity center and school of data sciencewe built a program to specifically meet the growing demand of this industryour program will be 18 week long fulltime handson and projectbased our curriculum development and instruction is led by senior data scientist maggie giust who ha worked at heb capital group and rackspace along with input from dozen of practitioner and hiring partner student will work with real data set realistic problem and the entire data science pipeline from collection to deployment they will receive professional development training in resume writing interviewing and continuing education to prepare for a smooth transition to the workforcewe focus on applied data science for immediate impact and roi in a business which is how we can back it all up with a 6 month tuition refund guarantee just like our existing web dev program were focusing on data science with python sql and ml covered in14 module 1 fundamental 2 applied statistic 3 sql 4 python 5 supervised machine learning regression 6 supervised machine learning classification 7 unsupervised machine learning clustering 8 time series analysis 9 anomaly detection 10 natural language processing 11 distributed machine learning 12 advanced topic deep learning nosql cloud deployment etc 13 storytelling with data and 14 domain expertise developmentapplications are now openfor codeups first data science cohort which will start class on february 4 2019 hurry there are only 25 seat available to further our mission of cultivating inclusive growth scholarship will be available to woman minority lgbtqia individual veteran first responder and people relocating to san antonioif you want to learn aboutjoining our programorhiring our graduate email datasciencecodeupcom'

### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.


This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [40]:
# # standard English language stopwords list from nltk

# stopword_list = stopwords.words('english')

# # you can add or remove from stopword list 
# stopword_list.append('o')
# stopword_list.remove('not')

# # Split words in lemmatized article.
# words = article_lemmatized.split()

# # Create a list of words from my string with stopwords removed and assign to variable.
# filtered_words = [word for word in words if word not in stopword_list]

# # Join words in the list back into strings; assign to a variable to keep changes.
# article_without_stopwords = ' '.join(filtered_words)

In [78]:
def remove_stopwords (string, extra_words= [], exclude_words=[]):
    '''
    Takes in a strand return the text after removing all the stopwords.
    Parameters:
    string : text in  string type
    extra_words : list of additional stop words to include,
    exclude_words : list of any words that we don't want to remove.

    '''
    # standard English language stopwords list from nltk
    stopword_list = stopwords.words('english')
    
    #add extra_words
    stopword_list =stopword_list + extra_words
    
    #exclude words
    for element in exclude_words:
        if element in stopword_list:
            stopword_list.remove(element)
    # Split words.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings; assign to a variable to keep changes.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [99]:
stopword_list = stopwords.words('english')

In [101]:
stopword_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [73]:
#test my function
remove_stopwords(string)

'rumors true time arrived codeup officially opened applications new data science career accelerator 25 seats available immersive program one kind san antonio help land job inglassdoors 1 best job americadata science method providing actionable intelligence datathe data revolution hit san antonioresulting explosion data scientist positionsacross companies like usaa accenture booz allen hamilton heb weve even seenutsa invest 70 cybersecurity center school data sciencewe built program specifically meet growing demands industryour program 18 weeks long fulltime handson projectbased curriculum development instruction led senior data scientist maggie giust worked heb capital group rackspace along input dozens practitioners hiring partners students work real data sets realistic problems entire data science pipeline collection deployment receive professional development training resume writing interviewing continuing education prepare smooth transition workforcewe focus applied data science immediate impact roi business back 6 month tuition refund guarantee like existing web dev program focusing data science python sql ml covered in14 modules 1 fundamentals 2 applied statistics 3 sql 4 python 5 supervised machine learning regression 6 supervised machine learning classification 7 unsupervised machine learning clustering 8 time series analysis 9 anomaly detection 10 natural language processing 11 distributed machine learning 12 advanced topics deep learning nosql cloud deployment etc 13 storytelling data 14 domain expertise developmentapplications openfor codeups first data science cohort start class february 4 2019 hurry 25 seats available mission cultivating inclusive growth scholarships available women minorities lgbtqia individuals veterans first responders people relocating san antonioif want learn aboutjoining programorhiring graduates email datasciencecodeupcom'

### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [74]:

categories = ["business", "sports", "technology", "entertainment", "science", "world"]
news_df = a.get_all_news_articles(categories)

In [75]:
news_df.head()

,title,content,category
0,"Reliance Industries vaccinates 98% of workers,...",Reliance Industries has said in a statement th...,business
1,Speculation around our plans for crypto not tr...,Amazon on Monday denied speculations that it w...,business
2,I will most likely not be on future earnings c...,Tesla CEO and the world's second-richest perso...,business
3,"Musk criticises Apple's 'walled garden', cobal...",Tesla's billionaire CEO Elon Musk criticised A...,business
4,Factually incorrect: INOX on report of Amazon ...,INOX Leisure denied a report that claimed Amaz...,business

In [46]:
news_df.shape

(148, 3)

### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df

In [47]:
url_list = ['https://codeup.com/codeups-data-science-career-accelerator-is-here', 'https://codeup.com/data-science-myths',
            'https://codeup.com/data-science-vs-data-analytics-whats-the-difference',
            'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair',
            'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger']

codeup_df =  a.get_glob_articles(url_list)

In [48]:
codeup_df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

### 8. For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

**codeup**

In [94]:
def prepare_df (df, extra_words= ['rumors'], exclude_words=[]):
    '''
    takes in a df and
    '''
    #create a new df
    df2 = pd.DataFrame(columns = ['title','original'])
    df2['title'] = df['title']
    df2['original'] = df['content']
    #clean and tokenize
    for column in df2.columns:
        df2[column + '_clean']= [basic_clean(df2[column][string]) for string in range(0, len(df2))]
        df2[column + '_clean']=[tokenize(df2[column + '_clean'][string]) for string in range(0, len(df2))]
        #stemmed & lemmatize
        stem_list= []
        lemm_list= []
        stop_word = []
        for string in range(0, len(df2)):
            #remove stopwords
            stop_word.append(remove_stopwords(df2[column][string], extra_words= extra_words, exclude_words=exclude_words))
            #stemmed
            text_stem= stem(df2[column + '_clean'][string])
            stem_list.append(text_stem)
            #lemmatize
            text_lem = lemmatize(df2[column + '_clean'][string])
            lemm_list.append(text_lem)
        df2[column +'_stemmed'] = stem_list
        df2[column +'_lemmatize'] = lemm_list
        #df2[column + '_clean'] = stop_word
    
    return df2

In [95]:
df2 =prepare_df(codeup_df)

In [96]:
df2

,title,original,title_clean,title_stemmed,title_lemmatize,original_clean,original_stemmed,original_lemmatize
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,codeups data science career accelerator is here,codeup data scienc career acceler is here,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,the rumor are true the time ha arriv codeup ha...,the rumor are true the time ha arrived codeup ...
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,data science myths,data scienc myth,data science myth,by dimitri antoniou and maggie giustdata scien...,by dimitri antoni and maggi giustdata scienc b...,by dimitri antoniou and maggie giustdata scien...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...",data science vs data analytics whats the diffe...,data scienc vs data analyt what the differ,data science v data analytics whats the differ...,by dimitri antonioua week ago codeuplaunched o...,by dimitri antonioua week ago codeuplaunch our...,by dimitri antonioua week ago codeuplaunched o...
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,10 tips to crush it at the sa tech job fair,10 tip to crush it at the sa tech job fair,10 tip to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,sa tech job fairth third biannualsan antonio t...,sa tech job fairthe third biannualsan antonio ...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,competitor bootcamps are closing is the model ...,competitor bootcamp are close is the model in ...,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,competitor bootcamp are close is the model in ...,competitor bootcamps are closing is the model ...

In [52]:
df2.columns

Index(['title', 'original', 'title_clean', 'title_stemmed', 'title_lemmatize',
       'original_clean', 'original_stemmed', 'original_lemmatize'],
      dtype='object')

**news articles**

In [53]:
categories = ["business", "sports", "technology", "entertainment", "science", "world"]
news_df = a.get_all_news_articles(categories)

In [54]:
news_df

,title,content,category
0,"Reliance Industries vaccinates 98% of workers,...",Reliance Industries has said in a statement th...,business
1,I will most likely not be on future earnings c...,Tesla CEO and the world's second-richest perso...,business
2,Speculation around our plans for crypto not tr...,Amazon on Monday denied speculations that it w...,business
3,"Musk criticises Apple's 'walled garden', cobal...",Tesla's billionaire CEO Elon Musk criticised A...,business
4,Factually incorrect: INOX on report of Amazon ...,INOX Leisure denied a report that claimed Amaz...,business
...,...,...,...
143,1st person charged under Hong Kong national se...,The first person to be tried under the nationa...,world
144,Myanmar military cancels 2020 polls results wo...,Myanmar's military government on Monday cancel...,world
145,US combat mission in Iraq to conclude by year-...,US President Joe Biden said America would end ...,world
146,Haiti arrests top security chief over Prez Moi...,Haitian police have arrested the head of Presi...,world
147,Pakistan reopens Afghanistan border crossing h...,Pakistan has reopened a major southwestern bor...,world

In [58]:
new_news = prepare_df(news_df)

In [59]:
new_news.head()

,title,original,title_clean,title_stemmed,title_lemmatize,original_clean,original_stemmed,original_lemmatize
0,"Reliance Industries vaccinates 98% of workers,...",Reliance Industries has said in a statement th...,reliance industries vaccinates 98 of workers h...,relianc industri vaccin 98 of worker hul inocu...,reliance industry vaccinates 98 of worker hul ...,reliance industries has said in a statement th...,relianc industri ha said in a statement that o...,reliance industry ha said in a statement that ...
1,I will most likely not be on future earnings c...,Tesla CEO and the world's second-richest perso...,i will most likely not be on future earnings c...,i will most like not be on futur earn call tes...,i will most likely not be on future earnings c...,tesla ceo and the world ' s secondrichest pers...,tesla ceo and the world ' s secondrichest pers...,tesla ceo and the world ' s secondrichest pers...
2,Speculation around our plans for crypto not tr...,Amazon on Monday denied speculations that it w...,speculation around our plans for crypto not tr...,specul around our plan for crypto not true ama...,speculation around our plan for crypto not tru...,amazon on monday denied speculations that it w...,amazon on monday deni specul that it wa look t...,amazon on monday denied speculation that it wa...
3,"Musk criticises Apple's 'walled garden', cobal...",Tesla's billionaire CEO Elon Musk criticised A...,musk criticises apple ' s ' walled garden ' co...,musk criticis appl ' s ' wall garden ' cobalt ...,musk criticises apple ' s ' walled garden ' co...,tesla ' s billionaire ceo elon musk criticised...,tesla ' s billionair ceo elon musk criticis ap...,tesla ' s billionaire ceo elon musk criticised...
4,Factually incorrect: INOX on report of Amazon ...,INOX Leisure denied a report that claimed Amaz...,factually incorrect inox on report of amazon i...,factual incorrect inox on report of amazon ind...,factually incorrect inox on report of amazon i...,inox leisure denied a report that claimed amaz...,inox leisur deni a report that claim amazon in...,inox leisure denied a report that claimed amaz...

### 9. Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

In [97]:
stopwords