# Exercises

In [1]:

import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd
import acquire as a


#import
import warnings
warnings.filterwarnings("ignore")

__________

### The end result of this exercise should be a file named prepare.py that defines the requested functions.

### In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

_____________

## acquire data

In [2]:
url_list = ['https://codeup.com/codeups-data-science-career-accelerator-is-here', 'https://codeup.com/data-science-myths',
            'https://codeup.com/data-science-vs-data-analytics-whats-the-difference',
            'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair',
            'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger']

df =  a.get_glob_articles(url_list)

In [4]:
df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

#### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

**- Lowercase everything**

In [5]:
#solve for one column
df.title.str.lower()

0    codeup’s data science career accelerator is here!
1                                   data science myths
2    data science vs data analytics: what’s the dif...
3          10 tips to crush it at the sa tech job fair
4    competitor bootcamps are closing. is the model...
Name: title, dtype: object

In [6]:
#get each colum
df2=pd.DataFrame()
for column in df.columns:
    df2[column]= df[column].str.lower()

In [7]:
df2

,title,content,published_date
0,codeup’s data science career accelerator is here!,the rumors are true! the time has arrived. cod...,"september 30, 2018"
1,data science myths,by dimitri antoniou and maggie giustdata scien...,"october 31, 2018"
2,data science vs data analytics: what’s the dif...,"by dimitri antonioua week ago, codeuplaunched ...","october 17, 2018"
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third bi-annualsan antonio...,"august 14, 2018"
4,competitor bootcamps are closing. is the model...,competitor bootcamps are closing. is the model...,"august 14, 2018"

**Normalize unicode characters**

In [8]:
#keep in mind normalize() argument 2 must be str
#unicodedata.normalize('NFKC', df2.title)

In [9]:
#we need to get each column
#then each observation

In [10]:
l =[df2.title[n] for n in range (0, len(df2))]

In [11]:
l

['codeup’s data science career accelerator is here!',
 'data science myths',
 'data science vs data analytics: what’s the difference?',
 '10 tips to crush it at the sa tech job fair',
 'competitor bootcamps are closing. is the model in danger?']

In [12]:
for column in df2.columns:
    l =[unicodedata.normalize('NFKC',df2[column][n]) for n in range (0, len(df2))]
    df2[column]= l

In [13]:
df2

,title,content,published_date
0,codeup’s data science career accelerator is here!,the rumors are true! the time has arrived. cod...,"september 30, 2018"
1,data science myths,by dimitri antoniou and maggie giustdata scien...,"october 31, 2018"
2,data science vs data analytics: what’s the dif...,"by dimitri antonioua week ago, codeuplaunched ...","october 17, 2018"
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third bi-annualsan antonio...,"august 14, 2018"
4,competitor bootcamps are closing. is the model...,competitor bootcamps are closing. is the model...,"august 14, 2018"

**Removing Special Characters**

In [14]:
#we need to do it by stringso we can use a comprehension list to do the rows
for column in df2.columns:
    df2[column]= [re.sub(r"[^a-z0-9'\s]", '', df2[column][n] ) for n in range (0, len(df2))]

In [15]:
df2

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

In [16]:
# create a function
def clean_df(df):
    '''
    takes in a df and lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean df
    '''
    for column in df.columns:
        #get lowercase
        df[column]= df[column].str.lower()
        #normalize
        df[column]= [unicodedata.normalize('NFKC',df[column][n])\
                     .encode('ascii', 'ignore')\
                    .decode('utf-8') for n in range (0, len(df))]
        #remove special characters
        df[column]= [re.sub(r"[^a-z0-9'\s]", '', df[column][n] ) for n in range (0, len(df))]
    return df

In [17]:
def basic_clean (string):
    '''
    takes in a string and lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean string
    '''
    
    string = string.lower()
    string = unicodedata.normalize('NFKC',string)\
    .encode('ascii', 'ignore')\
    .decode('utf-8')
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    return string

In [18]:
basic_clean('Cidn-&fshyh 5487/*/=35')

'cidnfshyh 548735'

In [19]:
def basic_clean_df (df):
    '''
    takes in a df and using the function basic_clean lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean df
    '''
    for column in df.columns:
        df[column]= [basic_clean(df[column][string]) for string in range(0, len(df))]
    return df

In [20]:
#aquire again data
df =  a.get_glob_articles(url_list)

In [21]:
df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

In [22]:
df2 = basic_clean_df(df)

In [23]:
df2

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

In [24]:
df3 = clean_df(df)

In [25]:
df3

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string

In [26]:
#get a string
string = "Paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [27]:
#clean the string
string = basic_clean(string)

In [28]:
string

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [29]:
def tokenize (string):
    '''
    take in a string and tokenize all the words in the string
    '''
    
    # Create the tokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    # Use the tokenizer
    string = tokenizer.tokenize(string, return_str = True)
    return string

In [30]:
tokenize(string)

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [31]:
string

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [32]:
# Create porter stemmer.
ps = nltk.porter.PorterStemmer()

# Apply the stemmer to each word in our string.
stems = [ps.stem(word) for word in string.split()]
stems[:10]

['paul',
 'erdo',
 'and',
 'georg',
 'polya',
 'are',
 'influenti',
 'hungarian',
 'mathematician',
 'who']

In [33]:
# Join our lists of words into a string again; assign to a variable to save changes

article_stemmed = ' '.join(stems)
article_stemmed

"paul erdo and georg polya are influenti hungarian mathematician who contribut a lot to the field erdo ' s name contain the hungarian letter ' o ' ' o ' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

In [34]:
def stem (string):
    '''
     takes in a text and return the text after applying stemming to all the words.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    # Apply the stemmer to each word in our string.
    stems = [ps.stem(word) for word in string.split()]
    text_stemmed = ' '.join(stems)
    return text_stemmed

In [35]:
stem('paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ')

'paul erdo and georg polya are influenti hungarian mathematician who contribut a lot to the field erdo'

### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [37]:
# # Create the Lemmatizer.

# wnl = nltk.stem.WordNetLemmatizer()


# # Use the lemmatizer on each word in the list of words we created by using split.

# lemmas = [wnl.lemmatize(word) for word in article.split()]

In [38]:
def lemmatize (text):
    '''
     Takes in some text and return the text after applying lemmatization to each word.
    '''
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in text.split()]
    
    # Join our list of words into a string again; assign to a variable to save changes.
    text_lemmatized = ' '.join(lemmas)
    
    return text_lemmatized

In [39]:
text = "paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [40]:
lem_text =lemmatize(text)

In [41]:
lem_text

"paul erdos and george polya are influential hungarian mathematician who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.


This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [45]:
# # standard English language stopwords list from nltk

# stopword_list = stopwords.words('english')

# # you can add or remove from stopword list 
# stopword_list.append('o')
# stopword_list.remove('not')

# # Split words in lemmatized article.
# words = article_lemmatized.split()

# # Create a list of words from my string with stopwords removed and assign to variable.
# filtered_words = [word for word in words if word not in stopword_list]

# # Join words in the list back into strings; assign to a variable to keep changes.
# article_without_stopwords = ' '.join(filtered_words)

In [47]:
def remove_stopwords (string, extra_words= [], exclude_words=[]):
    '''
    Takes in some text and return the text after removing all the stopwords.
    Parameters:
    string : text in  string type
    extra_words : list of additional stop words to include,
    exclude_words : list of any words that we don't want to remove.

    '''
    # standard English language stopwords list from nltk
    stopword_list = stopwords.words('english')
    
    #add extra_words
    stopword_list =stopword_list + extra_words
    
    #exclude words
    for element in exclude_words:
        if element in stopword_list:
            stopword_list.remove(element)
    # Split words in lemmatized article.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings; assign to a variable to keep changes.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [48]:
lem_text

"paul erdos and george polya are influential hungarian mathematician who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

In [49]:
#test my function
remove_stopwords(lem_text, ["'", 'o'], ['not'])

'paul erdos george polya influential hungarian mathematician contributed lot field erdos name contains hungarian letter double acute accent often incorrectly written erdos erdos either mistake typographical necessity'

### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [50]:

categories = ["business", "sports", "technology", "entertainment", "science", "world"]
news_df = a.get_all_news_articles(categories)

In [51]:
news_df.head()

,title,content,category
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",business
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,business
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,business
3,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,business
4,Mahua Moitra writes to FM to look into 'over-i...,Lok Sabha MP Mahua Moitra has shared a letter ...,business

In [52]:
news_df.shape

(147, 3)

### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df

In [53]:
url_list = ['https://codeup.com/codeups-data-science-career-accelerator-is-here', 'https://codeup.com/data-science-myths',
            'https://codeup.com/data-science-vs-data-analytics-whats-the-difference',
            'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair',
            'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger']

codeup_df =  a.get_glob_articles(url_list)

In [54]:
codeup_df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

### 8. For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [ ]:
def stem (string):
    '''
     takes in a text and return the text after applying stemming to all the words.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    # Apply the stemmer to each word in our string.
    stems = [ps.stem(word) for word in string.split()]
    text_stemmed = ' '.join(stems)
    return text_stemmed

In [68]:
def prepare_df (df):
    '''

    '''
    #create a new df
    df2 = pd.DataFrame(columns = ['title','original'])
    df2['title'] = df['title']
    df2['original'] = df['content']
    #clean and tokenize
    for column in df2.columns:
        for string in range(0, len(df2)):
        df2[column + '_clean']= [basic_clean(df2[column][string]) for string in range(0, len(df2))]
        df2[column + '_clean']=[tokenize(df2[column + '_clean'][string]) for string in range(0, len(df2))]
        for string in range(0, len(df2))
    
    #stemmed
    
    return df2

In [69]:
prepare_df(codeup_df)

,title,original,title_clean,original_clean
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,data science myths,by dimitri antoniou and maggie giustdata scien...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...",data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...