# Exercises

In [5]:

import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd
import acquire as a


#import
import warnings
warnings.filterwarnings("ignore")

__________

### The end result of this exercise should be a file named prepare.py that defines the requested functions.

### In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

_____________

## acquire data

In [ ]:
url_list = ['https://codeup.com/codeups-data-science-career-accelerator-is-here', 'https://codeup.com/data-science-myths',
            'https://codeup.com/data-science-vs-data-analytics-whats-the-difference',
            'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair',
            'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger']

In [7]:
df =  a.get_glob_articles(url_list)

In [8]:
df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

#### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

**- Lowercase everything**

In [16]:
#solve for one column
df.title.str.lower()

0    codeup’s data science career accelerator is here!
1                                   data science myths
2    data science vs data analytics: what’s the dif...
3          10 tips to crush it at the sa tech job fair
4    competitor bootcamps are closing. is the model...
Name: title, dtype: object

In [21]:
#get each colum
df2=pd.DataFrame()
for column in df.columns:
    df2[column]= df[column].str.lower()

In [22]:
df2

,title,content,published_date
0,codeup’s data science career accelerator is here!,the rumors are true! the time has arrived. cod...,"september 30, 2018"
1,data science myths,by dimitri antoniou and maggie giustdata scien...,"october 31, 2018"
2,data science vs data analytics: what’s the dif...,"by dimitri antonioua week ago, codeuplaunched ...","october 17, 2018"
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third bi-annualsan antonio...,"august 14, 2018"
4,competitor bootcamps are closing. is the model...,competitor bootcamps are closing. is the model...,"august 14, 2018"

**Normalize unicode characters**

In [29]:
#keep in mind normalize() argument 2 must be str
#unicodedata.normalize('NFKC', df2.title)

In [30]:
#we need to get each column
#then each observation

In [26]:
l =[df2.title[n] for n in range (0, len(df2))]

In [27]:
l

['codeup’s data science career accelerator is here!',
 'data science myths',
 'data science vs data analytics: what’s the difference?',
 '10 tips to crush it at the sa tech job fair',
 'competitor bootcamps are closing. is the model in danger?']

In [31]:
for column in df2.columns:
    l =[unicodedata.normalize('NFKC',df2[column][n]) for n in range (0, len(df2))]
    df2[column]= l

In [32]:
df2

,title,content,published_date
0,codeup’s data science career accelerator is here!,the rumors are true! the time has arrived. cod...,"september 30, 2018"
1,data science myths,by dimitri antoniou and maggie giustdata scien...,"october 31, 2018"
2,data science vs data analytics: what’s the dif...,"by dimitri antonioua week ago, codeuplaunched ...","october 17, 2018"
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third bi-annualsan antonio...,"august 14, 2018"
4,competitor bootcamps are closing. is the model...,competitor bootcamps are closing. is the model...,"august 14, 2018"

**Removing Special Characters**

In [35]:
#we need to do it by stringso we can use a comprehension list to do the rows
for column in df2.columns:
    df2[column]= [re.sub(r"[^a-z0-9'\s]", '', df2[column][n] ) for n in range (0, len(df2))]

In [36]:
df2

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

In [57]:
# create a function
def clean_df(df):
    '''
    takes in a df and lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean df
    '''
    for column in df.columns:
        #get lowercase
        df[column]= df[column].str.lower()
        #normalize
        df[column]= [unicodedata.normalize('NFKC',df[column][n])\
                     .encode('ascii', 'ignore')\
                    .decode('utf-8') for n in range (0, len(df))]
        #remove special characters
        df[column]= [re.sub(r"[^a-z0-9'\s]", '', df[column][n] ) for n in range (0, len(df))]
    return df

In [58]:
def basic_clean (string):
    '''
    takes in a string and lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean string
    '''
    
    string = string.lower()
    string = unicodedata.normalize('NFKC',string)\
    .encode('ascii', 'ignore')\
    .decode('utf-8')
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    return string

In [64]:
basic_clean('Cidn-&fshyh 5487/*/=35')

'cidnfshyh 548735'

In [65]:
def basic_clean_df (df):
    '''
    takes in a df and using the function basic_clean lowercase everything, normalize unicode characters, replace anything that is not a letter,
    number, whitespace or a single quote.
    retunr a clean df
    '''
    for column in df.columns:
        df[column]= [basic_clean(df[column][string]) for string in range(0, len(df))]
    return df

In [74]:
#aquire again data
df =  a.get_glob_articles(url_list)

In [75]:
df

,title,content,published_date
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,"September 30, 2018"
1,Data Science Myths,By Dimitri Antoniou and Maggie GiustData Scien...,"October 31, 2018"
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri AntoniouA week ago, Codeuplaunched ...","October 17, 2018"
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job FairThe third bi-annualSan Antonio...,"August 14, 2018"
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,"August 14, 2018"

In [76]:
df2 = basic_clean_df(df)

In [77]:
df2

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

In [78]:
df3 = clean_df(df)

In [79]:
df3

,title,content,published_date
0,codeups data science career accelerator is here,the rumors are true the time has arrived codeu...,september 30 2018
1,data science myths,by dimitri antoniou and maggie giustdata scien...,october 31 2018
2,data science vs data analytics whats the diffe...,by dimitri antonioua week ago codeuplaunched o...,october 17 2018
3,10 tips to crush it at the sa tech job fair,sa tech job fairthe third biannualsan antonio ...,august 14 2018
4,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,august 14 2018

### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string

In [88]:
#get a string
string = "Paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [89]:
#clean the string
string = basic_clean(string)

In [83]:
string

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [90]:
def tokenize (string):
    '''
    take in a string and tokenize all the words in the string
    '''
    
    # Create the tokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    # Use the tokenizer
    string = tokenizer.tokenize(string, return_str = True)
    return string

In [91]:
tokenize(string)

"paul erdos and george polya are influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.