# Exercises

In [293]:
import pandas as pd
import re

###  1. Write a function named is_vowel. 

It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [294]:
subj ='ba'

In [295]:
regexp = r'[aeiouAEIOU]'
# we getting true with ba

In [296]:
re.search(regexp, subj)

In [298]:
regexp = r'^[aeiouAEIOU]$'
re.search(regexp, subj)
#now we get false

In [304]:
def is_vowel (string):
    '''
    Takes in a string  and use a regular expression to determine if the passed string is a SINGLE vowel.
    '''
    regexp = r'^[aeiouAEIOU]$'
    if re.search(regexp,string):
        print('It is a single vowel')
    else:
        print('It is NOT a single vowel')
    return

In [305]:
is_vowel('eee')

It is NOT a single vowel

In [306]:
def is_vowel2 (string):
    '''
    Takes in a string  and use a regular expression to determine if the passed string is a vowel.
    '''
    regexp = r'^[aeiouAEIOU]$'
    return bool(re.search(regexp, string))

In [307]:
is_vowel2('Eee')

False

### 2. Write a function named is_valid_username that accepts a string as input. 
A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

```
>>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
>>> is_valid_username('codeup')
True
>>> is_valid_username('Codeup')
False
>>> is_valid_username('codeup123')
True
>>> is_valid_username('1codeup')
False
```

In [ ]:
#parts of a username:
#starts with a lowercase letter
#should only contains lowercase letters,numbers or _
#no longer than 32

In [308]:
word = 'cindy1dskjfg_h'

In [309]:
#starts with a lowercase letter
regexp= r'^[a-z]'

In [311]:
#follow letters or numbers
#[a-z0-9-_]

In [312]:
#I do not specify the length
regexp= r'^[a-z][a-z0-9-_]+$'
re.findall(regexp, word)

['cindy1dskjfg_h']

In [313]:
# specify the lenght >1 and < 32
regexp= r'^[a-z0-9-_]{1,31}$'

In [314]:
re.findall(regexp, word)

['cindy1dskjfg_h']

In [319]:
def is_valid_username(word):
    '''
    Takes in a username and returns a boolean value assessing if the passed string fits the critera of a username:
    starts with a lowercase letter, 
    only consists of lowercase letters, numbers, or the _ character. 
    no longer than 32 characters. 
    
    '''
    regexp= r'^[a-z][a-z0-9-_]{1,32}$'
    if re.findall(regexp, word):
        return True
    else:
        return False

In [320]:
is_valid_username('1codefgjhdfghup')

False

In [321]:
is_valid_username('cindyvvdgsjdgnsjhgjshgjshgjshgjhsjcxvkvmkmullanueva')

False

In [322]:
def is_valid_username2 (string):
    '''
        Takes in a username and returns a boolean value assessing if the passed string fits the critera of a username:
    starts with a lowercase letter, 
    only consists of lowercase letters, numbers, or the _ character. 
    no longer than 32 characters. 
    '''
    regexp = r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regexp, string))

### 3.Write a regular expression to capture phone numbers. It should match all of the following:

```
(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
```

In [ ]:
# we have:
# potentiual region code ( '+' followed by number)
# potential area code (three nuymbers, maybe wrapped in parens)
# three numbers
# four numbers

In [323]:
phone = ['(210) 8a57 5309','+1 210.867.5309', '867-5309', '210-867-5309']

In [324]:
df= pd.DataFrame()
df['number'] = phone

In [325]:
df

            number
0  (210) 8a57 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309

In [ ]:
# country code. this is optional so we need to use ?
# (\+\d+)?

In [ ]:
# are code is optional too
# (\d{3})?

In [326]:
#excange code is not optional
# \d{3}

In [ ]:
#line number
# \d{4}

In [ ]:
#biuld out our  expression:
phone_regex = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$

''', re.VERBOSE)

In [285]:
[re.findall(regexp, w) for w in word]

[['(210) 8a57 5309'], ['+1 210.867.5309'], ['867-5309'], ['210-867-5309']]

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

```
02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19
```

In [225]:
dates = pd.Series(['02/04/19', '02/05/19','02/06/19','02/07/19', '02/08/19', '02/09/19', ''])

In [226]:
date_reg = r'(\d+)/(\d+)/(\d+)'

In [292]:
[re.sub(date_reg, r'20\3-\1-\2',date) for date in dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '']

### 5. Write a regex to extract the various parts of these logfile lines:

In [ ]:
```
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
```

In [286]:
df = pd.DataFrame()
df['text'] = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
])

In [287]:
df

                                                text
0  GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1  POST /users_accounts/file-upload [16/Apr/2019:...
2  GET /api/v1/items?page=3 [16/Apr/2019:193453+0...

In [ ]:
"\d{2}.\d{3}.\d{2}.\d{2}$"

### Bonus Exercise

You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?